{% extends 'base.html' %}

{% block content %}

    <h1>Posts</h1>

    <ul>
    {% for post in object_list %}
        <li>
            <a href="{% url 'blog-article-detail' post.pk %}">{{ post.title }}</a>
            - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
            <small>
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
            </small>
            <br>
        </li>
    {% endfor %}
    </ul>


{% endblock %}